/* src/app/quill-styles.css */
@import 'react-quill-new/dist/quill.snow.css';

/* Custom styles for the editor container */
.quill-editor-container {
    height: 500px; /* Or any height you prefer */
    display: flex;
    flex-direction: column;
}

.quill-editor-container .ql-container {
    flex-grow: 1;
    overflow-y: auto;
}
